name: Sync Image to Alibaba Cloud

on:
  workflow_dispatch: # 手动触发执行

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Alibaba Cloud Registry
        run: |
          # 注意替换成你自己的阿里云仓库地域（如 cn-hangzhou）
          echo "${{ secrets.ALIBABA_PASSWORD }}" | docker login crpi-c44zpvyb2pw4rfbd.cn-zhangjiakou.personal.cr.aliyuncs.com --username ${{ secrets.ALIBABA_USERNAME }} --password-stdin

      - name: Sync Image with Skopeo
        run: |
          # 1. 从 NVIDIA 拉取
          # docker pull nvcr.io/nvidia/tritonserver:25.06-trtllm-python-py3
          
          # 2. 打标签 (替换成你自己的阿里云仓库地址)
          # docker tag nvcr.io/nvidia/tritonserver:25.06-trtllm-python-py3 crpi-c44zpvyb2pw4rfbd.cn-zhangjiakou.personal.cr.aliyuncs.com/mytritonserver/tritonserver:25.06-trtllm-python-py3
          
          # 3. 推送到阿里云
          # docker push crpi-c44zpvyb2pw4rfbd.cn-zhangjiakou.personal.cr.aliyuncs.com/mytritonserver/tritonserver:25.06-trtllm-python-py3
          skopeo copy \
            --all \
            --src-tls-verify=false \
            --dest-creds ${{ secrets.ALIBABA_USERNAME }}:${{ secrets.ALIBABA_PASSWORD }} \
            docker://nvcr.io/nvidia/tritonserver:25.06-trtllm-python-py3 \
            docker://crpi-c44zpvyb2pw4rfbd.cn-zhangjiakou.personal.cr.aliyuncs.com/mytritonserver/tritonserver:25.06-trtllm-python-py3
